.ogjjn { 
  margin-bottom: 97px;
  border-right-width: 7px;
  border-top-width: 98px;
  font-size: 75px;
  border-right-width: 19px;
  border-bottom-width: 11px;
  border-right-width: 56px;
  padding-left: 68px;
  border-right-width: 68px;
  border-bottom-width: 94px;
  font-size: 3px;
  line-height: 47px;
  padding-right: 40px;
}
