.ogjjn { 
  margin-bottom: 97px;
  border-right-width: 7px;
  border-top-width: 98px;
  font-size: 75px;
  border-right-width: 19px;
  border-bottom-width: 11px;
  border-right-width: 56px;
  padding-left: 68px;
  border-right-width: 68px;
  border-bottom-width: 94px;
  font-size: 3px;
  line-height: 47px;
  border-bottom-width: 54px;
  margin-left: 94px;
  border-left-width: 97px;
  padding-top: 67px;
  padding-right: 11px;
  line-height: 9px;
  margin-top: 78px;
  border-right-width: 62px;
}
