.ogjjn { 
  margin-bottom: 97px;
  border-right-width: 7px;
  border-top-width: 98px;
  font-size: 75px;
  border-right-width: 19px;
  border-bottom-width: 11px;
  border-right-width: 56px;
  padding-left: 68px;
  border-right-width: 68px;
  margin-bottom: 22px;
}
